openapi: 3.0.0
info:
  title: Fireblocks Technical Writer API
  description: API for managing technical writing tasks.
  version: 1.0.0
servers:
  - url: https://api.fireblocks.com
    description: Production server

paths:
  /tasks:
    get:
      summary: Retrieve existing tasks
      description: Returns a list of all tasks.
      security:
        - BearerAuth: []
      responses:
        "200":
          description: A list of tasks
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: "123"
                    title:
                      type: string
                      example: "Write API Documentation"
                    status:
                      type: string
                      enum: [pending, in-progress, completed]
                      example: "in-progress"
        "401":
          description: Unauthorized - Invalid API Key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid API key"

    post:
      summary: Create a new task
      description: Adds a new task to the system.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - description
                - status
              properties:
                title:
                  type: string
                  example: "Review Technical Guide"
                description:
                  type: string
                  example: "Ensure clarity and completeness of API documentation"
                status:
                  type: string
                  enum: [pending, in-progress, completed]
                  example: "pending"
      responses:
        "201":
          description: Task created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "124"
                  title:
                    type: string
                    example: "Review Technical Guide"
                  status:
                    type: string
                    example: "pending"
        "400":
          description: Bad Request - Missing required fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Missing required field: title"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
